* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: 'Source Code Pro';
	line-height: 1.5em;
	margin: .45em 0;
	padding: 0;
}

body {
	background: #232629;
	color: white;
	font-family: 'Source Code Pro';
	font-size: 1em;
	line-height: 1.4em;
	font-weight: normal;
}

#logo-text {
	font-weight: bold;
	font-family: 'Arial';
	color: white;
}

#instructors {
	color: black;
}

.wrapper {
	width: 92%;
	margin: 0 auto;
}

header {
	padding: 15px 0;
}

#banner {
	text-align: center;
}

#main-image {
	max-width:100%;
}

#image-display,
#page-header {
	background: #232629;
	padding: 20px 0;
	font-size: 1.1em;
}

#page-header h1 {
	margin: 0;
}

.flexslider {
	display: none;
}

#content,
aside,
.vertical-padding {
	padding: 40px 0;
}

p {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

.profile_elem {
	margin-bottom: 40px;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

footer {
	background#232629;
	color: #ccc;
	font-size: 80%;
	padding: 20px 0;
}

.instructors {
	background: white;
	color: #fff;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #444;
	text-align: center;
}

nav li {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
}

nav a {
	display: block;
	text-decoration: none;
}

nav a {
	font-family: sans-serif;
	height: 40%;
	line-height: 40%;
	color: #fff;
}

nav a:hover {
	color: #005f5f;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}

.clearfix:after,
.container:after,
.row:after {
	clear: both;
}


/*Media queries*/

@media only screen and (min-width: 481px) {
	#banner {
		float: left;
		text-align: left;
		margin-bottom: -20px;
	}
}

@media only screen and (min-width: 920px) {
	.wrapper {
		max-width: 1200px;
		margin: .75em auto;
	}
	header {
		padding: 0;
	}
	#banner {
		float: left;
		text-align: left;
		margin-bottom: 0px;
		margin-top: 5px;
	}
	#image-display {
		padding: 0;
	}
	#content {
		float: left;
		width: 65%;
	}
	#content.wide-content {
		float: none;
		width: 100%;
	}
	aside {
		float: right;
		width: 30%;
	}
	.profile_elem {
		width: 33.33333333%;
	}
	.profile_elem {
		float: left;
		display: block;
	}
	.rightfloat {
		float: right;
	}
}

@media only screen and (min-width: 1024px) {
	#image-display h1 {
		font-size: 1.4em;
	}
}

@media only screen and (min-width: 1240px) {
	#image-display h1 {
		font-size: 2em;
	}
}